{% extends 'base.html.twig' %}

{% block body %}
    <header class="top col-xs-12">
        <h1><a href="{{path('logout')}}" >{{ app.session.get('user') }}</a></h1>  
    </header>

    <div class="col-xs-12"> 
        <div class="col-xs-3 col-xs-offset-1">
            {%  for  theme in questions %}
                {% set foo = 'true' %}
                {%  for  q in theme %}
                    {% if foo == 'true' %}
                        <h4>{{q.theme.nom}}</h4>
                        {% set foo = 'false' %}
                        {% else %}
                            
                    {% endif %}
                    <p>{{q.texte}}</p>
                    <ul>
                    {% for r in q.reponses %}
                        <li>{{r.texte}}</li>
                        {% endfor %}
                    </ul>
                {%  endfor  %}
            {%  endfor  %}
        </div>
        <div class="col-xs-7">
            <form class="col-xs-10 col-xs-offset-1" method="post" action="{{path('addQuestion')}}">
                <label class="col-xs-6 col-xs-offset-1"> Sectionnez un theme : </label>
                <select class="col-xs-4" name="theme">
                    {% for theme in themes %}
                        <option value="{{theme.id}}">{{theme.nom}}</option>
                    {% endfor %}
                </select><br />
                <label class="col-xs-10 col-xs-offset-1">Ecrivez une question : </label><br />
                <input class="col-xs-10 col-xs-offset-1" type="text" name="texte"/><br />
                <label class="col-xs-10 col-xs-offset-1">Ajoutez les reponses (choisissez la(les)bonne(s) réponse(s)) :</label><br />
                <input class="col-xs-9 col-xs-offset-1" type="text" name="r1"/><input class="col-xs-1" type="checkbox" name="cb1"/><br />
                <input class="col-xs-9 col-xs-offset-1" type="text" name="r2"/><input class="col-xs-1" type="checkbox" name="cb2"/><br />
                <input class="col-xs-9 col-xs-offset-1" type="text" name="r3"/><input class="col-xs-1" type="checkbox" name="cb3"/><br />
                <input class="col-xs-9 col-xs-offset-1" type="text" name="r4"/><input class="col-xs-1" type="checkbox" name="cb4"/><br />
                
                <input class="col-xs-12" type="submit" value="Ajouter !" />
            </form>
        </div>
        <!--   -->

    </div>  
{% endblock %}

